.footer__container {
  align-items: center;
  background-color: #f4b64b;
  display: grid;  
  font-weight: bold;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: .7rem 0;
}

.footer__social {
  align-items: center;
  display: flex;
  text-decoration: none;
  
}

.footer__social:hover {
  font-size: larger;
}

.footer__logo {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(282deg) brightness(106%) contrast(101%);


  height: 1.5rem;
  width: 1.5rem;
  padding-right: .5rem;
}


