.App {
  background-color: #127692;
}

.App,
ul {
  color: #f4b64b;
}

.App p {
  margin: 0;
}

.App h2,
p,
dt,
dd,
ul {
  color: white;
  list-style: none;
}

/* background-color: #127692
biggerTextColor: #f4b64b
smallTextColor: white */
