.plants__cardTitle {
  display: flex;
  color: white;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  margin: 0 1.5rem 0 5.5rem;
  text-shadow: 4px 4px 5px rgba(51, 51, 50, 0.646);
}

.plants__leafIcon {
  filter: invert(77%) sepia(98%) saturate(1246%) hue-rotate(322deg)
    brightness(101%) contrast(92%);
  width: 2rem;
}

.plants__listCare {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 1rem;
  text-shadow: 4px 4px 5px rgba(51, 51, 50, 0.646);
}

.plants__alias {
  margin: auto;
  text-transform: uppercase;
}

.plants__containerImg {
  align-self: center;
  position: relative;
  width: 50%;
}

.plants__listCare img {
  backface-visibility: hidden;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: block;
  height: auto;
  margin: 0;
  opacity: 1;
  transition: 0.5s ease;
  width: 100%;
}

.plants__containerTextbox {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-tranform: translate(-50%, -50%);
  width: 60%;
}

.plants__containerImg:hover img {
  opacity: 0.5;
}

.plants__containerImg:hover .plants__containerTextbox {
  opacity: 1;
}

.plants__containerText {
  font-size: 1.2rem;
  font-style: italic;
  text-align: end;
}

.plants__listCard {
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background-color: rgba(247, 244, 244, 0.132);
  margin: 2rem;
  padding: 1rem;
}

.plants__plantCard {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.plants__plantInfo {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

.plants__aBitAbout {
  margin: 0 0 0.5rem 0;
}

.plants__plantInfo p {
  color: white;
  text-shadow: none;
}

.plants__calendar {
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

/* MEDIA QUERY */
@media screen and (min-width: 1485px) {
  .plants__listCare {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem 0;
    padding: 0.5rem;
  }

  .plants__listCard {
    margin: 0.8rem;
    padding: 0.8rem;
  }

  .plants__containerText {
    background-color: #ffffff00;
  }

  .plants__plantCard {
    gap: 0.3rem;
  }

  .plants__calendar {
    max-width: 90%;
  }
}

@media screen and (min-width: 598px) and (max-width: 1485px) {
  .plants__plantCard {
    flex-direction: column;
    row-gap: 2rem;
  }

  .plants__listCard {
    background-color: #fac66c;
    border-radius: 0;
    margin: 1.5rem;
  }

  .plants__listCare {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .plants__listCare img {
    border-radius: 2px;
  }

  .plants__alias {
    text-align: center;
  }

  .plants__containerImg {
    width: 95%;
  }

  .plants__containerTextbox {
    top: 80%;
    left: 55%;
  }

  .plants__plantInfo {
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 80%;
  }

  .plants__plantInfo p {
    color: #494742;
    text-shadow: 2px 4px 6px #4947426c;
  }

  .plants__calendar {
    margin: auto;
    padding: 1rem;
    width: 75%;
  }

  .plants__calendar p {
    color: #494742;
    display: none;
  }
}

@media screen and (min-width: 598px) and (max-width: 930px) {
  .plants__listCare {
    grid-template-columns: 1fr 1fr;
  }

  .plants__listCare img {
    border-radius: 2px;
  }

  .plants__alias {
    font-size: 1.2rem;
    text-align: center;
  }

  .plants__containerImg {
    width: 95%;
  }

  .plants__containerImg:hover img {
    opacity: 0.7;
  }

  .plants__containerTextbox {
    top: 80%;
    left: 60%;
  }

  .plants__plantInfo {
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 80%;
  }

  .plants__plantInfo p {
    color: #494742;
    text-shadow: 2px 4px 6px #4947426c;
  }

  .plants__calendar {
    margin: auto;
    padding: 1rem;
    width: 75%;
  }

  .plants__calendar p {
    color: #494742;
    display: none;
  }
}

@media screen and (max-width: 598px) {
  .plants__cardTitle {
    font-size: 2rem;
  }

  .plants__plantCard {
    flex-direction: column;
    row-gap: 2rem;
  }

  .plants__listCard {
    background-color: #fac66c;
    border-radius: 0;
    padding: 1rem;
  }

  .plants__listCare {
    grid-template-columns: 1fr;
  }

  .plants__listCare img {
    border-radius: 2px;
  }

  .plants__alias {
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
  }

  .plants__containerImg {
    width: 90%;
  }

  .plants__containerTextbox {
    top: 80%;
    left: 60%;
  }

  .plants__containerText {
    background-color: #ffffff00;
  }

  .plants__plantInfo {
    width: 80%;
  }

  .plants__plantInfo p {
    color: #494742;
    text-shadow: 2px 4px 6px #4947426c;
  }

  .plants__calendar {
    margin: auto;
    padding: 1rem;
    width: 75%;
  }

  .plants__calendar p {
    color: #494742;
    display: none;
  }
}
